In [11]:
import pandas as pd
df = pd.read_parquet("../../data/ws/inmet/A601_preprocessed.parquet.gzip")
df.head()

                     precipitation
2011-01-01 00:00:00            0.0
2011-01-01 01:00:00            0.0
2011-01-01 02:00:00            0.0
2011-01-01 03:00:00            0.2
2011-01-01 04:00:00            0.0

In [12]:
df.shape

(118822, 1)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 121848 entries, 0 to 7895
Data columns (total 27 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DC_NOME       121848 non-null  object
 1   PRE_INS       120509 non-null  float64
 2   TEM_SEN       121624 non-null  float64
 3   VL_LATITUDE   121848 non-null  float64
 4   PRE_MAX       120492 non-null  float64
 5   UF            121848 non-null  object
 6   RAD_GLO       121677 non-null  float64
 7   PTO_INS       121633 non-null  float64
 8   TEM_MIN       121720 non-null  float64
 9   VL_LONGITUDE  121848 non-null  float64
 10  UMD_MIN       121606 non-null  float64
 11  PTO_MAX       121605 non-null  float64
 12  VEN_DIR       121744 non-null  float64
 13  DT_MEDICAO    121848 non-null  object
 14  CHUVA         118822 non-null  float64
 15  PRE_MIN       120492 non-null  float64
 16  UMD_MAX       121607 non-null  float64
 17  VEN_VEL       121744 non-null  float64
 18  PTO_MIN       121604 non-null  float64
 19  TEM_MAX       121717 non-null  float64
 20  TEN_BAT       121747 non-null  float64
 21  VEN_RAJ       121724 non-null  float64
 22  TEM_CPU       121747 non-null  float64
 23  TEM_INS       121737 non-null  float64
 24  UMD_INS       121633 non-null  float64
 25  CD_ESTACAO    121848 non-null  object
 26  HR_MEDICAO    121848 non-null  int64
dtypes: float64(22), int64(1), object(4)
memory usage: 26.0+ MB

In [6]:
df.columns

Index(['DC_NOME', 'PRE_INS', 'TEM_SEN', 'VL_LATITUDE', 'PRE_MAX', 'UF',
       'RAD_GLO', 'PTO_INS', 'TEM_MIN', 'VL_LONGITUDE', 'UMD_MIN', 'PTO_MAX',
       'VEN_DIR', 'DT_MEDICAO', 'CHUVA', 'PRE_MIN', 'UMD_MAX', 'VEN_VEL',
       'PTO_MIN', 'TEM_MAX', 'TEN_BAT', 'VEN_RAJ', 'TEM_CPU', 'TEM_INS',
       'UMD_INS', 'CD_ESTACAO', 'HR_MEDICAO'],
      dtype='object')

In [9]:
df.DT_MEDICAO

0       2011-01-01
1       2011-01-01
2       2011-01-01
3       2011-01-01
4       2011-01-01
           ...
7891    2024-11-24
7892    2024-11-24
7893    2024-11-24
7894    2024-11-24
7895    2024-11-24
Name: DT_MEDICAO, Length: 121848, dtype: object

In [10]:
df.HR_MEDICAO

0          0
1        100
2        200
3        300
4        400
        ...
7891    1900
7892    2000
7893    2100
7894    2200
7895    2300
Name: HR_MEDICAO, Length: 121848, dtype: int64