In [1]:
import pandas as pd

df = pd.read_parquet('DSIF_TT_2024-01-12 00:00:00_to_2024-01-12 00:00:00.parquet')

In [4]:
df.tail(50)

        timestamp station_id  TT
645  202401122130       A636 NaN
646  202401122130       A621 NaN
647  202401122130       A602 NaN
648  202401122130       A652 NaN
649  202401122130       A627 NaN
650  202401122140       A636 NaN
651  202401122140       A621 NaN
652  202401122140       A602 NaN
653  202401122140       A652 NaN
654  202401122140       A627 NaN
655  202401122150       A636 NaN
656  202401122150       A621 NaN
657  202401122150       A602 NaN
658  202401122150       A652 NaN
659  202401122150       A627 NaN
660  202401122200       A636 NaN
661  202401122200       A621 NaN
662  202401122200       A602 NaN
663  202401122200       A652 NaN
664  202401122200       A627 NaN
665  202401122210       A636 NaN
666  202401122210       A621 NaN
667  202401122210       A602 NaN
668  202401122210       A652 NaN
669  202401122210       A627 NaN
670  202401122220       A636 NaN
671  202401122220       A621 NaN
672  202401122220       A602 NaN
673  202401122220       A652 NaN
674  202401122220       A627 NaN
675  202401122230       A636 NaN
676  202401122230       A621 NaN
677  202401122230       A602 NaN
678  202401122230       A652 NaN
679  202401122230       A627 NaN
680  202401122240       A636 NaN
681  202401122240       A621 NaN
682  202401122240       A602 NaN
683  202401122240       A652 NaN
684  202401122240       A627 NaN
685  202401122250       A636 NaN
686  202401122250       A621 NaN
687  202401122250       A602 NaN
688  202401122250       A652 NaN
689  202401122250       A627 NaN
690  202401122300       A636 NaN
691  202401122300       A621 NaN
692  202401122300       A602 NaN
693  202401122300       A652 NaN
694  202401122300       A627 NaN