In [6]:
import pandas as pd
df = pd.read_parquet("../../data/ws/inmet/A601.parquet")
df.head()

,DC_NOME,PRE_INS,TEM_SEN,VL_LATITUDE,PRE_MAX,UF,RAD_GLO,PTO_INS,TEM_MIN,VL_LONGITUDE,...,VEN_VEL,PTO_MIN,TEM_MAX,TEN_BAT,VEN_RAJ,TEM_CPU,TEM_INS,UMD_INS,CD_ESTACAO,HR_MEDICAO
0,SEROPÉDICA-ECOLOGIA AGRÍCOLA,1006.6,24.7,-22.757778,1006.6,RJ,1.1,21.0,22.1,-43.684722,...,0.2,20.9,22.6,12.1,1.4,23.0,22.2,93.0,A601,0
1,SEROPÉDICA-ECOLOGIA AGRÍCOLA,1007.0,24.8,-22.757778,1007.0,RJ,-1.0,21.2,21.9,-43.684722,...,0.1,20.9,22.2,12.1,0.7,23.0,22.1,95.0,A601,100
2,SEROPÉDICA-ECOLOGIA AGRÍCOLA,1007.0,24.8,-22.757778,1007.1,RJ,-0.7,21.3,22.0,-43.684722,...,0.3,21.1,22.2,12.1,0.6,23.0,22.1,96.0,A601,200
3,SEROPÉDICA-ECOLOGIA AGRÍCOLA,1006.3,24.6,-22.757778,1007.1,RJ,-1.0,21.2,21.9,-43.684722,...,0.0,21.1,22.1,12.0,0.9,23.0,21.9,96.0,A601,300
4,SEROPÉDICA-ECOLOGIA AGRÍCOLA,1005.7,24.5,-22.757778,1006.4,RJ,-1.6,21.1,21.7,-43.684722,...,0.0,21.0,21.9,12.0,0.1,23.0,21.8,96.0,A601,400

In [4]:
import pandas as pd
df = pd.read_parquet("../../data/ws/inmet/A601_preprocessed.parquet.gzip")
df.head()

,temperature,barometric_pressure,relative_humidity,wind_direction_u,wind_direction_v,hour_sin,hour_cos,precipitation
2011-01-01 00:00:00,0.399399,0.314199,0.917647,0.453523,0.416869,0.500000,1.000000,0.0
2011-01-01 01:00:00,0.387387,0.326284,0.941176,0.465437,0.418554,0.629410,0.982963,0.0
2011-01-01 02:00:00,0.387387,0.329305,0.952941,0.455215,0.408821,0.750000,0.933013,0.0
2011-01-01 03:00:00,0.384384,0.329305,0.952941,0.462560,0.423090,0.853553,0.853553,0.2
2011-01-01 04:00:00,0.378378,0.308157,0.952941,0.462560,0.423090,0.933013,0.750000,0.0

In [5]:
df.tail()

,temperature,barometric_pressure,relative_humidity,wind_direction_u,wind_direction_v,hour_sin,hour_cos,precipitation
2024-11-24 19:00:00,0.498498,0.534743,0.541176,0.528484,0.545681,0.017037,0.629410,0.2
2024-11-24 20:00:00,0.495495,0.534743,0.564706,0.557761,0.547244,0.066987,0.750000,0.0
2024-11-24 21:00:00,0.456456,0.552870,0.682353,0.555399,0.535681,0.146447,0.853553,0.2
2024-11-24 22:00:00,0.405405,0.570997,0.717647,0.553392,0.509153,0.250000,0.933013,0.0
2024-11-24 23:00:00,0.381381,0.586103,0.776471,0.556228,0.489969,0.370590,0.982963,0.2

In [12]:
df.shape

(118822, 1)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 121848 entries, 0 to 7895
Data columns (total 27 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DC_NOME       121848 non-null  object
 1   PRE_INS       120509 non-null  float64
 2   TEM_SEN       121624 non-null  float64
 3   VL_LATITUDE   121848 non-null  float64
 4   PRE_MAX       120492 non-null  float64
 5   UF            121848 non-null  object
 6   RAD_GLO       121677 non-null  float64
 7   PTO_INS       121633 non-null  float64
 8   TEM_MIN       121720 non-null  float64
 9   VL_LONGITUDE  121848 non-null  float64
 10  UMD_MIN       121606 non-null  float64
 11  PTO_MAX       121605 non-null  float64
 12  VEN_DIR       121744 non-null  float64
 13  DT_MEDICAO    121848 non-null  object
 14  CHUVA         118822 non-null  float64
 15  PRE_MIN       120492 non-null  float64
 16  UMD_MAX       121607 non-null  float64
 17  VEN_VEL       121744 non-null  float64
 18  PTO_MIN       121604 non-null  float64
 19  TEM_MAX       121717 non-null  float64
 20  TEN_BAT       121747 non-null  float64
 21  VEN_RAJ       121724 non-null  float64
 22  TEM_CPU       121747 non-null  float64
 23  TEM_INS       121737 non-null  float64
 24  UMD_INS       121633 non-null  float64
 25  CD_ESTACAO    121848 non-null  object
 26  HR_MEDICAO    121848 non-null  int64
dtypes: float64(22), int64(1), object(4)
memory usage: 26.0+ MB

In [6]:
df.columns

Index(['DC_NOME', 'PRE_INS', 'TEM_SEN', 'VL_LATITUDE', 'PRE_MAX', 'UF',
       'RAD_GLO', 'PTO_INS', 'TEM_MIN', 'VL_LONGITUDE', 'UMD_MIN', 'PTO_MAX',
       'VEN_DIR', 'DT_MEDICAO', 'CHUVA', 'PRE_MIN', 'UMD_MAX', 'VEN_VEL',
       'PTO_MIN', 'TEM_MAX', 'TEN_BAT', 'VEN_RAJ', 'TEM_CPU', 'TEM_INS',
       'UMD_INS', 'CD_ESTACAO', 'HR_MEDICAO'],
      dtype='object')

In [9]:
df.DT_MEDICAO

0       2011-01-01
1       2011-01-01
2       2011-01-01
3       2011-01-01
4       2011-01-01
           ...
7891    2024-11-24
7892    2024-11-24
7893    2024-11-24
7894    2024-11-24
7895    2024-11-24
Name: DT_MEDICAO, Length: 121848, dtype: object

In [10]:
df.HR_MEDICAO

0          0
1        100
2        200
3        300
4        400
        ...
7891    1900
7892    2000
7893    2100
7894    2200
7895    2300
Name: HR_MEDICAO, Length: 121848, dtype: int64